.button-class {
  background: var(--our-team-bg);
  border-radius: 4px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 162%;
  /* identical to box height, or 162% */
  padding: 6px 22px 6px 22px;
  text-align: center;
  letter-spacing: 0.03em;
  border: 0px;
  color: var(--black-color);
  cursor: pointer;
  transition-property: background, color, box-shadow, border-radius;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.button-class:hover,
.button-class:focus {
  background: var(--hover-color);
  /* shadow-middle */
  color: white;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px var(--box-shadow-one);
  border-radius: 4px;
}





.h3-pics {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 200%;
  /* identical to box height, or 200% */
margin: 0;
  letter-spacing: 0.06em;
padding-top: 20px;
  color: var(--h-color);
}

.p-pics {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 187%;
  /* identical to box height, or 187% */
  letter-spacing: 0.03em;
  color: var(--content-color);
  margin-top: 4px;
}

.podval-portfolio {
  background: var(--bg-color);
}

.filter-button-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.filter-button-li {
  margin-right: 8px;
}

.button-li:last-child {
  margin-right: 0px;
}

.portfolio-pic-list {
  display: flex;
flex-wrap: wrap;
  margin-top: -30px;
  margin-left: -30px;
}

.portfolio-box {
  background: var(--white-color);
  box-sizing: border-box;
  margin-top: 30px;
  margin-left: 30px;
  flex-basis: calc((100% - 90px) / 3);
  transition-property: box-shadow, background;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}


.portfolio-box {
  position: relative;
}
.portfolio-box .portfolio-box-div-overlay:before {
  content: '';
  position: absolute;
  opacity: 0;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}
.portfolio-box:hover:before {
  opacity: 1;
  background-color: black;
}
.portfolio-box.card-three:hover .overlay {
  position: absolute;
	width: 530px;
	height: 265px;
	background: rgba(33, 150, 243, 0.9);
}


.portfolio-box:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}



.box-text {
  padding-left: 24px;
  padding-bottom: 20px;
  padding-right: 24px;
  border-left: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
}

.image-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 72%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background: rgba(0, 0, 0, 0.5);
}


.portfolio-box:hover .image-overlay {
  opacity: 1;
  height: 72%;
}