.button-class {
  background: var(--our-team-bg);
  border-radius: 4px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  /* identical to box height, or 162% */
  padding: 6px 22px 6px 22px;
  text-align: center;
  letter-spacing: 0.03em;
  border: 0px;
  color: var(--black-color);
  cursor: pointer;
}

.button-class:hover,
.button-class:focus {
  background: var(--hover-color);
  /* shadow-middle */
  color: white;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px var(--box-shadow-one);
  border-radius: 4px;
  padding: 6px 22px 6px 22px;
}

.box {
  background: var(--white-color);
  border: 1px solid #eeeeee;
  box-sizing: border-box;
  margin-top: 30px;
  margin-left: 30px;
}



.h3-pics {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 36px;
  /* identical to box height, or 200% */

  letter-spacing: 0.06em;

  color: var(--h-color);
}

.p-pics {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  /* identical to box height, or 187% */
  letter-spacing: 0.03em;
  color: var(--content-color);
}

.podval-portfolio {
  background: var(--bg-color);
}

.button-list {
  display: flex;
  justify-content: center;
}

.button-li {
  margin-right: 8px;
margin-top: 94px;
margin-bottom: 50px;
}

.button-li:last-child {
  margin-right: 0px;
}

.pic-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: -30px;
  margin-left: -30px;
  padding-left: 0px;
  padding-bottom: 94px;
}

.h3-pics {
  padding-left: 24px;
  padding-bottom: 4px;
}

.p-pics {
  padding-bottom: 20px;
  padding-left: 24px;
}

.box:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.box:nth-child(3n+1) {
  margin-left: 0px;
}