@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@700&family=Roboto:wght@400;500;700;900&display=swap");

:root {
  --black-color: black;
  --white-color: #ffffff;
  --hover-color: #2196f3;
  --h-color: #212121;
  --bg-color: #2f303a;
  --border-solid: #ececec;
  --content-color: #757575;
  --color-boxshadow: rgba(0, 0, 0, 0.15);
  --our-team-bg: #f5f4fa;
  --button-color: #2196f3;
  --button-hover: #188ce8;
  --footer-contacts: rgba(255, 255, 255, 0.6);
  --box-shadow-one: rgba(0, 0, 0, 0.12);
  --box-shadow-two: rgba(0, 0, 0, 0.14);
  --box-shadow-three: rgba(0, 0, 0, 0.2);
  --footer-links-bg: rgba(255, 255, 255, 0.1);
}

h1,
h2 {
  margin: 0px;
  margin-left: auto;
  margin-right: auto;
}

ul {
  margin: 0;
}

p {
  display: block;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  letter-spacing: 3%;
}

hr {
  margin: 0;
  padding: 0;
}

ul {
  margin: 0;
}


body {
  font-family: "Roboto", sans-serif;
  color: var(--black-color);
  text-decoration: none;
}
/*color for 2 pages*/

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.break {
  flex-basis: 100%;
  height: 0;
}




.icons-social-links {
  fill: var(--content-color);
  width: 20px;
  height: 20px;
}






.social-links-list {
  display: flex;
  justify-content: space-between;
  padding-left: 32px;
  padding-right: 32px;
  padding: 16px 32px 32px 32px;
  flex-direction: row;
}

.section {
  justify-content: space-between;
}

.header-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.div-contacts {
  display: flex;
}

.menu {
  display: flex;
  padding-top: 32px;
  padding-bottom: 32px;
}

.ul-menu {
  display: flex;
  align-items: center;
  padding-left: 0;
}

.li-menu {
  display: flex;
  justify-content: space-between;
}

/*head start*/

.header {
  border-bottom: solid var(--border-solid) 1px;

}

.webstudio {
  text-decoration: none;
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 136%;
  letter-spacing: 0.03em;
  color: var(--hover-color);
  display: flex;
}

.contacts-top {
  color: var(--content-color);
  white-space: nowrap;
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contacts-top:last-child {
  padding-right: 15px;
}

.mail {
  margin-right: 50px;
}



.contacts-top:hover,
.contacts-top:focus {
  color: var(--hover-color);
}



.colorstudio-top {
  color: var(--black-color);
  padding-right: 94px;
}

.li-head-button {
  padding-right: 50px;
  display: flex;
}

.head-button {
  text-decoration: none;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  line-height: 136%;
  letter-spacing: 0.02em;
  font-size: 14px;
  color: var(--h-color);

  display: flex;
}

.active {
  color: var(--hover-color);
  text-decoration: none;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  line-height: 136%;
  letter-spacing: 0.02em;
  font-size: 14px;
}

.head-button:hover,
.head-button:focus {
  color: var(--hover-color);
}

.line {
  border: 1px solid var(--border-solid);
}
/*head end*/

/*marks for list*/
li {
  list-style-type: none; /* Убираем маркеры */
}
ul {
  margin-left: 0; /* Отступ слева в браузере IE и Opera */
  padding-left: 0; /* Отступ слева в браузере Firefox, Safari, Chrome */
}

#bg {
  background: var(--bg-color);
}


.content {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 171%;
  letter-spacing: 0.03em;
  color: var(--content-color);
}


/* footer start*/

.footer-con {
  padding-top: 60px;
  padding-bottom: 60px;
  display: flex;
  background-color: var(--bg-color);
}

.lowwebstudio {
  text-decoration: none;
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 136%;
  /* identical to box height */
display: flex;
  letter-spacing: 0.03em;
  color: var(--hover-color);
}

.webstudio-low {
  color: white;
  display: flex;
}

.addr-prop {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 171%;
  /* or 171% */
  letter-spacing: 0.03em;
  color: var(--white-color);
  margin-top: 20px;
}

.mail-prop {
  text-decoration: none;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 171%;
  letter-spacing: 0.03em;
  color: var(--footer-contacts);
}

.tel-prop {
  text-decoration: none;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 171%;
  letter-spacing: 0.03em;
  color: var(--footer-contacts);
}
/* footer end*/

.tel-prop:hover,
.tel-prop:focus {
  color: var(--hover-color);
}

.mail-prop:hover,
.mail-prop:focus {
  color: var(--hover-color);
}

.li-footer {
  margin-top: 9px;
}

.podval {
  background-color: var(--bg-color);
}

.icons-contacts {
  width: 16px;
  height: 12px;
  margin-right: 10px;
  fill: var(--content-color);
}

.icons-contacts:hover {
  fill: var(--hover-color);
}


.contacts-top:hover .icons-contacts {
  fill: var(--hover-color);
}

.div-button-and-adress {
  margin-right: 70px;
}

.p-join-us {
  width: 145px;
  height: 16px;
  font-weight: 700;
  line-height: 136%;
  margin-bottom: 20px;
  color: var(--white-color);
  margin-top: 12px;
}

.buttons-social-links-footer {
  padding: 0;
  border: none;
  border-radius: 50%;
  width: 44px;
  height: 44px;
  background-color: var(--footer-links-bg);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-right: 10px;
}

.social-links-list-footer {
  display: flex;
  padding: 0px;

}

.icons-social-links-footer {
  fill: var(--white-color);
  width: 20px;
  height: 20px;
}

.buttons-social-links-footer:hover {
  background-color: var(--hover-color);
}